@font-face {
    font-family: "Reboto";
    src: url("../fonts/Roboto-Regular.ttf")
}
 
:root{
    --colorGrey: rgba(47, 52, 55);
    --buttonHoverColor: #2BABF3;
}

/* Login page */

*{
    font-family: "Reboto";
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100%;
    background: #2E4353;
    overflow-x: hidden;
}

#row{
    display: flex;
}

.displayNone{
    display: none;
}

#relative{
    position: relative;
}

#row__vCenter{
    display: flex;
    align-items: center;
}

#row__vStart{
    display: flex;
    align-items: start;
}

.full_width{
    width: 100%;
}

#center__page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#center__horizontal{
    display: grid;
    justify-content: center;
    width: 100%;
}

#center__horizontal label{
    margin-top: 4px;
}

#form-container{
    width: 960px;
    height: 620px;
    border-radius: 20px;
    background: rgba(24, 26, 34, 0.6);
    position: relative;
}

#form-container#cad__page{
    height: 680px;
}

.boas__vindas{
    margin-top: 6vh;
    width: 100%;
    height: 142px;
}

.boas__vindas__img {
    width: 108px;
    height: 108px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.boas__vindas__txt {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
}

.form__container{
    width: 410.82px;
    background: rgba(103, 100, 100, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1.05px solid #2BABF3;
    border-radius: 5px;
}

.form__container span{
    color: #2BABF3;
    margin-right: 10px;
    font-size: 15px;
}

.form__container span:hover{
    cursor: pointer;
    color: #5ba7ff;;
}

.form__container__label{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #807C7C;
}

.form__container input{
    height: 46.57px;
    outline: none;
    color: #fff;
    padding: 5px;
    background-color: transparent;
    border: none;
}

.form__container.error {
    border: none;
    outline: 1px solid #db483c;
}

.form__button{
    width: 243px;
    height: 48px;
    background: #439ACA;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.form__button p {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.form__button:hover {
    background-color: #42bcff;
}

.btn-container{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 10px;
}

.error{
    color: #db483c;
    font-size: 12px;
    font-weight: normal;
    padding: 0;
}

.cad__text{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: rgba(128, 124, 124, 0.8);
}

.cad__text a{
    color: #2F8CF9;
    cursor: pointer;
}

.cad__text a:hover{
    color: #5ba7ff;
}

/* Página principal */

.home__page__header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 2.5vh;
    position: absolute;
    z-index: 1;
}

.home__page__header ul li{
    display: inline;
    padding-left: 4.5vh;
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #9F9F9F;
}

.home__page__header ul li:hover{
    color: #2F8CF9;
    cursor: pointer;
}

.home__page__header ul li#active{
    color: #2F8CF9 !important;
}

.home__page__header .menu__button{
    background-color: transparent;
    border: none;
}

.categoria__list{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 150px;
    border-radius: 5px;
    z-index: 1;
    color: #9F9F9F;
    border: none;
    margin-right: 10px;
    font-weight: 500;
    font-size: 20px;
    min-height: 60px;
    max-height: 60px;
}

.categoria__list option{
    color: #2BABF3;
}

.home__page__header ul li.categoriaBtn:hover .categoria__list{
    display: block;
}

.search__bar{
    background: rgba(47, 52, 55);
    border-radius: 25px;
    display: grid;
    padding: 10px;
    position: relative;
}

.search__bar input{
    background-color: transparent;
    outline: none;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    padding-left: 12px;
    color: rgba(255, 255, 255, 0.6);
}

.search__bar i {
    font-size: 20px;
    color: #fff;
}

.search__bar i:hover{
    color: #5ba7ff;
    cursor: pointer;
}

.menu__button{
    font-size: 25px;
    color: #2BABF3;
    margin-right: 4vh;
}

.menu__button:hover{
    color: #2F8CF9;
    cursor: pointer;
}

/* Filmes principais */

.secao-filmes{
    margin-top: 12vh;
}

.secao-filmes .filmes__destaque{
    display: none;
}

.secao-filmes.active .filmes__destaque{
    display: block;
}

.filmes__destaque{
    margin: 5vh 12vh;
}

.filmes__destaque h3{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.filmes__destaque .fa-chevron-left, .fa-chevron-right{
    color: #fff;
    font-size: 6vh;
    padding: 4.5vh;
    border-radius: 50%;
}

.filmes__destaque .fa-chevron-left:hover, .fa-chevron-right:hover{
    cursor: pointer;
    /* background-color: rgba(43, 171, 243, 0.5);
    transition: 0.5s; */
    color: #2babf3;
}

.img__card__big{
    position: relative;
    display: none;
}

.img__card__big.active {
    display: block;
}

.img__card__big img{
    object-fit: cover;
    width: 500px;
    height: 300px;
    border-radius: 30px;
}

.img__card__big .txt_box{
    display: block;
    position: absolute;
    left: 15px;
    top: 200px;
}

.img__card__big .txt_box .name{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.img__card__big .txt_box .year{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: rgba(128, 124, 124, 0.5);
}

.filmes__destaque{
    padding: 10px;
}

.botao__assistir{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 124.86px;
    height: 30.54px;
    left: 350px;
    top: 250px;
    background: #CB5252;
    border-radius: 50px;
}

.botao__assistir p{
    font-style: normal;
    padding-left: 1vh;
    font-weight: 500;
    font-size: 10px;
    color: #FFFFFF;
}

.botao__assistir i {
    color: #fff;
}

.botao__assistir:hover{
    background-color: #db483c;
    cursor: pointer;
}

.img__card__medium{
    position: relative;
}

.img__card__medium:hover{
    transform: scale(1.05);
    transition: 10ms;
    cursor: pointer;
}

.img__card__medium img{
    object-fit: cover;
    width: 300px;
    height: 155px;
    border-radius: 25px;
}

.img__card__medium img.size-90p {
    width: 570px;
    height: 290px;
}

.img__card__medium .txt_box{
    display: block;
    position: absolute;
    left: 15px;
    top: 80px;
}

.img__card__medium .txt_box .name{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.img__card__medium .txt_box .year{
    font-style: normal;
    font-weight: 500;
    font-size: 6px;
    line-height: 7px;
    color: #070707;
}

.info-movie-row{
    display: none;
    padding: 10px;
    color: #fff;
}

.info-movie-row.active {
    display: block;
}

.info-movie-row  .name_mov{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
}

.info-movie-row .small-line{
    width: 33.02px;
    height: 0px;
    border: 1px solid #FFFFFF;
    transform: rotate(-90deg);
}

.info-movie-row .year_mov{
    font-style: bold;
    font-weight: 500;
    font-size: 22px;
}

.info-movie-row .genre_mov{
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}

.info-movie-row .genres_mov{
    font-weight: 500;
    font-size: 14px;
    color: #9F9F9F;
}

.grid-movie {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    justify-content: center;
}

.imgSearchCont{
    display: none;
    background: rgba(47, 52, 55);
    /* background: rgba(47, 52, 55, 0.6); */
    border-radius: 0px 0px 25px 25px;
    padding: 10px;
    color: #fff;
    width: 100%;
}

.imgSearchCont.show{
    display: block;
    cursor: pointer;
}

.card__search__bar:hover {
    background-color: rgb(255, 255, 255, 0.25);
    border-radius: 20px;
}

.avatar__user__img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}

.user__container__info{
    color: #fff;
    font-style: normal;
    margin-left: 1.5vh;
}

.user__info__container{
    padding: 5px;
}

.user__info__container:hover{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    cursor: pointer;
}

.show{
    display: block;
}

.hide{
    display: none;
}

.swiper{
    width: 600px;
}

.coments__bar{
    border-radius: 10px;
    padding: 10px;
}

.bg_grey{
    background: var(--colorGrey);
}

.coments__bar textarea{
    outline: none;
    border: none;
    padding: 5px;
    font-size: 1rem;
}

.transparent_bg {
    background-color: transparent;
}

.color_grey{
    color: rgba(255, 255, 255, 0.6);
}

.none__marginTop{
    margin-top: 0;
}

.end_button{
    position: absolute;
    right: 0;
    bottom: -3vh;
    border: none;
    font-size: 1rem;
    font-weight: bold;
}

.end_button:hover{
    color: var(--buttonHoverColor);
    border-radius: 5px;
    cursor: pointer;
}